<%= render :partial => 'breadcrumbs', :locals => {
           :breadcrumbs => [
             link_to('Slides', '/slides', :class => 'active')
           ],
           :action_links => [
            link_to('New Slide', new_slide_path)
           ] } %>

<%= render :partial => 'list', :locals => {
      :slides => @slides,
      :action_count => 2,
      :action_links => lambda { |slide| [
        link_to(raw('<span class="glyphicon glyphicon-edit"></span>'),
                edit_slide_path(slide),
                class: 'btn btn-default btn-xs',
                title: 'Edit'),
        link_to(raw('<span class="glyphicon glyphicon-trash"></span>'),
                slide,
                confirm: "Delete slide #{slide.name}?",
                method: :delete,
                class: 'btn btn-default btn-xs',
                title: 'Delete')
        ] } } %>

<%= will_paginate @slides, renderer: BootstrapPagination::Rails %>
