<h1>Editing Slideshow</h1>

<%= render 'form' %>
<%= render 'addnewslide'%>
<%###= render 'selectexistingslide'%>

<%= link_to 'Show', @slideshow, :class=>'btn' %>
<%= link_to 'Back', slideshows_path, :class=>'btn' %>
