<%= render :partial => 'breadcrumbs', :locals => {
           :breadcrumbs => [
             link_to('Slideshows', '/slideshows', :class => 'active')
           ],
           :action_links => [
             link_to('New Slideshow', new_slideshow_path)
           ] } %>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
<% @slideshows.each do |slideshow| %>
  <tr>
    <td><%= link_to slideshow.name, slideshow %></td>
    <td class="col-edit"><%= link_to raw('<i class="icon-edit"></i>'), edit_slideshow_path(slideshow), :class=>'btn btn-mini', :title=>'Edit' %></td>
    <td class="col-delete"><%= link_to raw('<i class="icon-trash"></i>'), slideshow, confirm: "Delete slideshow #{slideshow.name}?", method: :delete, :class=>'btn btn-mini', :title=>'Delete' %></td>
  </tr>
<% end %>
<% if @slideshows.empty? %>
  <tr><td colspan="4">No slideshows were found.</td></tr>
<% end %>
  </tbody>
</table>
