<h1>Listing Slideshows</h1>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th width="28px"></th>
    <th width="28px"></th>
  </tr>
  </thead>
  <tbody>
<% @slideshows.each do |slideshow| %>
  <tr>
    <td><%= link_to slideshow.name, slideshow %></td>
    <td><%= link_to raw('<i class="icon-edit"></i>'), edit_slideshow_path(slideshow), :class=>'btn btn-mini', :title=>'Edit' %></td>
    <td><%= link_to raw('<i class="icon-trash"></i>'), slideshow, confirm: 'Are you sure?', method: :delete, :class=>'btn btn-mini', :title=>'Delete', %></td>
  </tr>
<% end %>
<% if @slideshows.empty? %>
  <tr><td colspan="4">No slideshows were found.</td></tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Slideshow', new_slideshow_path, :class=>'btn' %>
