<%= render :partial => 'breadcrumbs', :object => [
           { :url => '/slideshows', :name => 'Slideshows'},
           { :url => '', :name => 'Slideshow: ' + @slideshow.name }
           ] %>

<div class="form-horizontal">
  <legend>Slideshow: <%= @slideshow.name %></legend>

  <% unless @slides.empty?%>
    <%= render :partial => '/slides/list', :locals => { :slides => @slides } %>
  <% end %>

  <div class="form-actions">
    <%= link_to 'Edit', edit_slideshow_path(@slideshow), :class=>'btn btn-primary' %>
  </div>
</div>
