<h1>Slideshow Details</h1>

<br />
<div class="well">
<p>
  <b>Name:</b>
  <%= @slideshow.name %>
</p>
</div>

<%= link_to 'Edit', edit_slideshow_path(@slideshow), :class=>'btn' %>
<%= link_to 'Slideshow List', slideshows_path, :class=>'btn' %>
