<%= render :partial => 'breadcrumbs', :locals => {
           :breadcrumbs => [
             link_to('Slideshows', '/slideshows'),
             link_to('Slideshows: ' + @slideshow.name, '', :class => 'active')
           ],
           :action_links => [
             link_to('Preview', '#modal_carousel', 'data-toggle' => 'modal'),
             link_to('Edit', edit_slideshow_path(@slideshow))
           ] } %>

  <legend>Slideshow: <%= @slideshow.name %></legend>

<script type="text/javascript">
$(document).ready(function() {
  $('#modal_carousel').on('shown', function () {
    $('#ss_carousel .item:first').addClass('active');
    $('#ss_carousel').carousel({
        interval: 5000
    });
  });
});
</script>
<div class="modal" id="modal_carousel">
  <div class="modal-dialog" style="width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <a class="btn btn-primary modal-close" data-dismiss="modal">Close</a>
        <h3>Preview</h3>
      </div>
      <div class="modal-body" style="height: 500px;">
<%= render :partial => '/slides/carousel', :locals => { :slides => @slideshow.slides, :id => 'ss_carousel' } %>
      </div>
     <div class="modal-footer">
     </div>
    </div>
  </div>
</div>

  <%= render :partial => '/slides/list', :locals => { :slides => @slideshow.slides } %>
