<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Device ID</th>
  </tr>
  </thead>
  <tbody>
<% if @devices.empty? %>
  <tr><td>No devices found.</td></tr>
<% else %>
<%   @devices.each do |dev| %>
  <tr>
    <td><%= browsed_device_link(dev, @all_devices_by_deviceid) %></td>
    <td><%= dev.deviceid %></td>
  </tr>
<%   end %>
<% end %>
  </tbody>
</table>
