<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Device</th>
  </tr>
  </thead>
  <tbody>
<% @devices.each do |dev| %>
  <tr>
    <td><%= browsed_device_link(dev, @saved_device_hash) %></td>
  </tr>
<% end %>
<% if @devices.empty? %>
  <tr><td>No devices were found.</td></tr>
<% end %>
  </tbody>
</table>
