<%= render :partial => 'breadcrumbs', :object => [
           { :url => '/devices', :name => 'Devices'},
           { :url => '', :name => 'Device: ' + @device.name }
           ] %>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Slideshow:</b>
  <%= @device.slideshow.name %>
</p>

<%= link_to 'Edit', edit_device_path(@device), :class=>'btn' %>
