<%= render :partial => 'breadcrumbs', :locals => {
           :breadcrumbs => [
             link_to('Devices', '/devices'),
             link_to('Device: ' + @device.name, '', :class => 'active')
           ],
           :action_links => [
             link_to('Edit', edit_device_path(@device))
           ] } %>

  <legend>Device: <%= @device.name %></legend>

<div class="well">
<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Slideshow:</b>
  <%= @device.slideshow.name %>
</p>
</div>
