<%= render :partial => 'breadcrumbs', :object => [
           { :url => '/devices', :name => 'Devices'},
           { :url => '', :name => 'Show Device'}
           ] %>

<div class="well">
<p>
  <b>Name:</b>
  <%= @device.name %>
</p>
</div>

<%= link_to 'Edit', edit_device_path(@device), :class=>'btn' %>
<%= link_to 'Device List', devices_path, :class=>'btn' %>
