
<p><big>Create slideshows that include web pages, images and videos that you can send to AirPlay devices on the local network.</big></p>

<h2>Get Started</h2>

<ul>
              <li<%= is_current_controller('devices') %>><a href="/devices">Devices</a></li>
              <li<%= is_current_controller('devices') %>><a href="/devices/browse">Browse Network</a></li>
              <li<%= is_current_controller('slideshows') %>><a href="/slideshows">Slideshows</a></li>
              <li<%= is_current_controller('slides') %>><a href="/slides">Slides</a></li>
</ul>
