<%= render :partial => 'breadcrumbs' %>

<h1>Now Playing</h1>

<hr/>

<div class="">
  <ul class="thumbnails">

<% @devices.each do |dev| %>
    <li class="span4">
      <div class="thumbnail">
  <% if @now_playing.include? dev.deviceid %>
        <img src="<%= @now_playing[dev.deviceid] %>" width=320 height=160 alt="current slide" />
  <% else %>
        <img src="/assets/nopreview.png" width=320 height=160 alt="no preview available" />
  <% end %>
        <h3>Device: <%= link_to dev.name, dev %></h3>
        <p>Slideshow: <%= dev.slideshow_name or "none" %></p>
        <div class="progress">
          <a rel="tooltip" data-placement="bottom" title="Slide 6 of 10">
            <div class="bar" style="width: 60%;"></div>
          </a>
        </div>
      </div>
    </li>
<% end %>

  </ul>
</div>

<hr/>
