<%= render :partial => 'breadcrumbs' %>

<h1>Now Playing</h1>

<div class="well">
  <ul class="thumbnails">

<% @devices.each do |dev| %>
    <li class="span4">
      <div class="thumbnail">
        <img src="/assets/nopreview.png" width=320 height=160 alt="no preview available" />
        <h3>Device: <%= link_to dev.name, dev %></h3>
        <p>Slideshow: <%= dev.slideshow ? link_to(dev.slideshow.name, dev.slideshow) : "none" %></p>
        <div class="progress">
          <a rel="tooltip" data-placement="bottom" title="Slide 6 of 10">
            <div class="bar" style="width: 60%;"></div>
          </a>
        </div>
      </div>
    </li>
<% end %>

  </ul>
</div>
