/* CSS Manifest
 *= bootstrap
 *= bootstrap-responsive
 *= formtastic-bootstrap
 *= require_self
 *= require_tree .
 */

/* Body Customizations */
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.margin_right_8{margin-right: 8px;}

/* Table Customizations */
.table th.col-delete, .table td.col-delete,
.table th.col-edit,   .table td.col-edit,
.table th.col-move,   .table td.col-move,
.table th.col-remove, .table td.col-remove
{width: 28px;}

.modal-close {
  float: right;
}

/* Bootstrap has '.breadcrumb .active a' but I want to match this pattern, too: */
.breadcrumb a.active {
  color: #333333;
}
