/* CSS Manifest
 *= require bootstrap
 *= require bootstrap-responsive
 *= require formtastic-bootstrap
 *= require_self
 */

/* Body Customizations */
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.margin_right_8 {
  margin-right: 8px;
}

/* Table Customizations */
.table th.col-btn-mini, .table td.col-btn-mini {
  width: 28px;
}

.modal-close {
  float: right;
}

/* Bootstrap has '.breadcrumb .active a' but I want to match this pattern, too: */
.breadcrumb a.active {
  color: #333333;
}

.breadcrumb .breadcrumb-right {
  float: right;
}

/* Override the breadcrumb left separator on right-side crumbs */
.breadcrumb .breadcrumb-right:before {
  content: none !important;
}

/* Force the front page thumbnail dimensions if the images are a different size */
.fixed-320-180 {
  width: 320px;
  height: 180px;
  max-width: 320px;
  max-height: 180px;
  overflow: hidden;
}
