<% if obj.errors.any? %>
  <div class="alert alert-error">
    <a href="#" class="close">&times;</a>
    <div class="alert-heading"><strong><%= pluralize(obj.errors.count, "error") %></strong>:</div>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
