<%= render :partial => 'breadcrumbs', :locals => {
           :breadcrumbs => [
             link_to('Devices', '/devices'),
             link_to('Locations', '/locations', :class => 'active')
           ],
           :action_links => [
            link_to('New Location', new_location_path)
           ] } %>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
<% @locations.each do |location| %>
  <tr>
    <td><%= link_to location.name, location %></td>
    <td class="col-btn-xs"><%=
      link_to raw('<span class="glyphicon glyphicon-edit"></span>'),
        edit_location_path(location),
        class: 'btn btn-default btn-xs',
        title: 'Edit' %></td>
    <td class="col-btn-xs"><%=
      link_to raw('<span class="glyphicon glyphicon-trash"></span>'),
        location,
        confirm: "Delete location #{location.name}?",
        method: :delete,
        class: 'btn btn-default btn-xs',
        title: 'Delete' %></td>
  </tr>
<% end %>
<% if @locations.empty? %>
  <tr><td colspan="7">No locations configured.</td></tr>
<% end %>
  </tbody>
</table>
